name: Lint
on: [ push, pull_request ]
permissions:
  contents: read

jobs:
  rust:
    runs-on: ubuntu-latest
    steps:
    - name: Harden Runner
      uses: step-security/harden-runner@5ef0c079ce82195b2a36a210272d6b661572d83e # v2.14.2
      with:
        disable-sudo: true
        egress-policy: block
        allowed-endpoints: >
          crates.io:443
          github.com:443
          index.crates.io:443
          static.crates.io:443
          static.rust-lang.org:443

    - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
    - name: Setup Rust toolchain
      run: rustup show && rustup update
    - name: cargo fmt
      run: cargo fmt -- --check
    - name: cargo clippy
      run: cargo clippy --all-features --tests --benches -- -D warnings
