name: Test
on: [ push, pull_request ]
jobs:
  native:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - name: Setup Rust toolchain
      run: rustup show && rustup update
    - name: Build murmurhash3
      run: cargo build
    - name: cargo test
      uses: actions-rs/cargo@v1
      with:
        command: test
        args: --workspace
